.menuBar {
  flex-shrink: 0;
  height: 25px;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  padding-top: 16px;
}

.button {
  flex: 1;
  margin-left: 4px;
  background: none;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 20px;
  outline: none;
  border: solid 1px white;
  box-shadow: none;
  cursor: pointer;
}

.button:first-child {
  margin-left: 0;
}

.current {
  background: white;
  color: black;
}

/* These would be nice for usability but aren't duplicated in the reflection */
/* .button:hover {
  background: rgba(255,255,255,.2);
}

.button:active {
  background: rgba(255,255,255,.4);
} */

.modal {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: black;
  border: solid 12px black;
  padding: 4px;
}

.modal::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 4px white;
}

.modalTitle {
  background: white;
  color: black;
  margin: -1px -2px;
  padding: 2px;
  padding-bottom: 4px;
}

.modalClose {
  position: absolute;
  top: 3px;
  right: 4px;
  background: black;
  border: 0;
  color: white;
  padding: 1px 8px 4px 6px;
  cursor: pointer;
}

.modalContent {
  padding: 8px;
  height: calc(100% - 40px);
  overflow-y: auto;
}

.modalContent p:first-child {
  margin-top: 0;
}
