.map {
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.map img {
  position: absolute;
  top: 64px;
  left: 32px;
  height: 150px;
}

.rooms {
  position: absolute;
  top: 70px;
  left: 85px;
  width: 70px;
  height: 105px;
  display: block;
}

.room {
  position: absolute;
  border: solid 1px white;
  background: rgba(0,0,0,.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room svg {
  display: block;
  width: 10px;
  height: 10px;
}

.selectedRoom {
  background: rgba(255,255,255,.2);
}

.floorSelector {
  position: absolute;
  top: 200px;
  left: 58px
}

.floorSelector button {
  display: inline-block;
  margin: 10px;
  background: transparent;
  color: white;
  border: solid 1px white;
  padding: 4px;
  cursor: pointer;
  font-size: 12px;
}

.floorSelector .selectedFloor {
  color: black;
  background: white;
}

.description {
  margin-left: 240px;
  max-height: 100%;
  padding: 10px 0;
}
