.app {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.playArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.output {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.input {
  padding: 16px;
  padding-top: 0;
  position: relative;
  font-weight: bold;
}

.input input {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  width: 100%;
  text-indent: 16px;
}

.input::before {
  display: inline-block;
  content: '> ';
  position: absolute;
  left: 16px;
}

.infoArea {
  width: 300px;
  overflow-x: hidden;
}

.command {
  font-weight: bold;
  position: relative;
  text-indent: 16px;
}

.command::before {
  content: '> ';
  position: absolute;
  left: -16px;
}

